#############
# QT CREATOR
#############

*.pro.user*
*.wixobj
*.wixpdb
*ui_*.h
packaging/windows/*.exe
packaging/windows/packages/org.miamplayer.core/data/*
packaging/windows/packages/org.miamplayer.plugins.coverfetcher/data/*
packaging/windows/packages/org.miamplayer.plugins.minimode/data/*
packaging/windows/packages/org.miamplayer.plugins.windowstoolbar/data/*
