#############
# QT CREATOR
#############

*.pro.user*
*.wixobj
*.wixpdb
*ui_*.h

doc/html/*

windows/MiamPlayer-*.exe
windows/packages/org.miamplayer.core/data/*
windows/packages/org.miamplayer.plugins.coverfetcher/data/*
windows/packages/org.miamplayer.plugins.minimode/data/*
windows/packages/org.miamplayer.plugins.windowstoolbar/data/*

osx/MiamPlayer.app
osx/MiamPlayer*.dmg
