<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

	<Product Name="Madame Miam-Miam's Music Player 0.4.2" Id='8712D8A2-02A9-4CD9-817F-4C6A0D21A592' UpgradeCode='E6B7F641-6FEB-4CB0-8A27-E3A53602D4FB'
	Language='1033' Codepage='1252' Version='0.4.2' Manufacturer='MadameMiamMiam'>

		<Package Id='*' Keywords="Installer" Description="MadameMiamMiam 1.0 Installer" Comments="Free and Open Source Software" Manufacturer="MadameMiamMiam"
	InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
		<Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="Madame MiamMiam's Music Player">
					<Directory Id="platforms" Name="platforms" />
				</Directory>
			</Directory>
		</Directory>

		<!-- main directory -->
		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
			<Component Id="theApp" Guid="C7F6E507-4399-45C8-854F-4D822F6EFF59">
				<File Id="theApp" Source="..\..\build\release\MmeMiamMiamMusicPlayer.exe" KeyPath="yes" Checksum="yes"/>
			</Component>
			<Component Id="d3dCompiler" Guid="f16435ed-2d59-4d42-a5fb-e73bc201c399">
				<File Id="d3dCompiler" Source="..\..\build\release\D3DCompiler_43.dll" KeyPath="yes"/>
			</Component>
			<Component Id="icudt49" Guid="e19b830f-3290-4517-8a8e-97996606ed05">
				<File Id="icudt49" Source="..\..\build\release\icudt49.dll" KeyPath="yes"/>
			</Component>
			<Component Id="icuin49" Guid="f2f0574f-9ba6-4aae-81cb-c9baa90ad608">
				<File Id="icuin49" Source="..\..\build\release\icuin49.dll" KeyPath="yes"/>
			</Component>
			<Component Id="icuuc49" Guid="04322ac7-7c7b-4b93-aabf-6108d035210d">
				<File Id="icuuc49" Source="..\..\build\release\icuuc49.dll" KeyPath="yes"/>
			</Component>
			<Component Id="libEGL" Guid="6a8fc09f-c362-4c7e-80a7-aba0ac84b6f9">
				<File Id="libEGL" Source="..\..\build\release\libEGL.dll" KeyPath="yes"/>
			</Component>
			<Component Id="libgcc_s_sjlj" Guid="0131d2cf-93f9-49e6-8830-2f2e85b624c3">
				<File Id="libgcc_s_sjlj" Source="..\..\build\release\libgcc_s_sjlj-1.dll" KeyPath="yes"/>
			</Component>
			<Component Id="libGLESv2" Guid="314f35b9-25c4-433c-a115-a30cb6ffbf36">
				<File Id="libGLESv2" Source="..\..\build\release\libGLESv2.dll" KeyPath="yes"/>
			</Component>
			<Component Id="libstdc" Guid="a03409bb-3e5b-48ae-bb3a-49bb3647825f">
				<File Id="libstdc" Source="..\..\build\release\libstdc++-6.dll" KeyPath="yes"/>
			</Component>
			<Component Id="libtag" Guid="2acca2df-d460-43e2-886e-510777804699">
				<File Id="libtag" Source="..\..\build\release\libtag.dll" KeyPath="yes"/>
			</Component>
			<Component Id="libwinpthread" Guid="c219c7d1-6f76-478b-a417-79e67e16e99a">
				<File Id="libwinpthread" Source="..\..\build\release\libwinpthread-1.dll" KeyPath="yes"/>
			</Component>
			<Component Id="Qt5Core" Guid="f0452c60-1ba1-4b8e-bbbe-cfaa842667fb">
				<File Id="Qt5Core" Source="..\..\build\release\Qt5Core.dll" KeyPath="yes"/>
			</Component>
			<Component Id="Qt5Gui" Guid="22180b57-7d37-492b-bb2c-da387ee1c1b0">
				<File Id="Qt5Gui" Source="..\..\build\release\Qt5Gui.dll" KeyPath="yes"/>
			</Component>
			<Component Id="Qt5Multimedia" Guid="ebc7da0f-52b2-4ade-a6f8-d71060d7b096">
				<File Id="Qt5Multimedia" Source="..\..\build\release\Qt5Multimedia.dll" KeyPath="yes"/>
			</Component>
			<Component Id="Qt5Network" Guid="c06823d0-94ae-4ee5-acb2-a0eb19e39b9b">
				<File Id="Qt5Network" Source="..\..\build\release\Qt5Network.dll" KeyPath="yes"/>
			</Component>
			<Component Id="Qt5Widgets" Guid="3281db32-6ec3-4d18-ad4d-081a16b5c9f2">
				<File Id="Qt5Widgets" Source="..\..\build\release\Qt5Widgets.dll" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<!-- subdir -->
		<DirectoryRef Id="platforms">
			<Component Id="qminimal" Guid="D7921005-AF8B-4D41-BE19-8F91882E4DAA">
				<File Id="qminimal" Source="..\..\build\release\platforms\qminimal.dll" KeyPath="yes" />
			</Component>
			<Component Id="qwindows" Guid="420BE34D-CCCF-4318-B519-E09823A521D4">
				<File Id="qwindows" Source="..\..\build\release\platforms\qwindows.dll" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<Feature Id="MainApplication" Title="Main Application" Level="1">
			<ComponentRef Id="theApp" />
			<ComponentRef Id="d3dCompiler" />
			<ComponentRef Id="icudt49" />
			<ComponentRef Id="icuin49" />
			<ComponentRef Id="icuuc49" />
			<ComponentRef Id="libEGL" />
			<ComponentRef Id="libgcc_s_sjlj" />
			<ComponentRef Id="libGLESv2" />
			<ComponentRef Id="libstdc" />
			<ComponentRef Id="libtag" />
			<ComponentRef Id="libwinpthread" />
			<ComponentRef Id="Qt5Core" />
			<ComponentRef Id="Qt5Gui" />
			<ComponentRef Id="Qt5Multimedia" />
			<ComponentRef Id="Qt5Network" />
			<ComponentRef Id="Qt5Widgets" />
			<ComponentRef Id="qminimal" />
			<ComponentRef Id="qwindows" />
		</Feature>
	</Product>
</Wix>