Source: miamplayer
Package: miamplayer
Section: sound
Version: 
Priority: optional
Architecture: amd64
Depends: libc6, libqt5widgets5, libqt5multimedia5, libqt5multimedia5-plugins, libqt5multimediawidgets5, libqt5sql5
Maintainer: Matthieu BACHELIER <bachelier.matthieu@gmail.com>
Installed-Size: 3431
Description: Miam-Player
 Miam Player is an all new audio player. Yet another player?
 .
 * What's inside? 
  * Read MP3, MP4, Flac, OGG Vorbis, Monkey Audio and ASF files
  * Read and Edit lots of Tags using Taglib
  * Customize everything: User Interface, Covers, Shortcuts, Buttons, Themes
  * Fast and reliable
 .
 * What is NOT inside?
  * Automatically search from the Internet for lyrics
  * Automatically search from the Internet for Tags
  * Automatically display informations about Artist / Albums / etc from
 Wikipedia
  * Well, it's just reading audio files, but it's doing it well!
 .
 * This software was developped using Qt5 and Taglib
 * Project page: https://sourceforge.net/projects/miammusicplayer/
 * Github page: http://mbach.github.io/Miam-Player/
