Source: miam-player
Package: miam-player
Section: sound
Version: 
Priority: optional
Architecture: amd64
Depends: libc6, libqt5widgets5, libqt5multimedia5, libqt5multimedia5-plugins, libqt5multimediawidgets5, libqt5sql5, libtag1v5-vanilla, libqtav (>=1.8.0)
Maintainer: Matthieu BACHELIER <bachelier.matthieu@gmail.com>
Installed-Size: 3770
Description: Miam-Player
 Miam Player is a cross-platform open source music player.
 .
 * What's inside? 
  * Fast and reliable (audio player is provided by FFMpeg)
  * Read .mp3, .m4a (MP4), .flac, .ogg, .oga (OGG Vorbis), .asf, .ape (Monkey Audio), .opus and more!
  * Customize everything: User Interface, Covers, Shortcuts, Buttons, Themes
  * Read and edit metadata using Taglib
 .
 * Future work
  * Add projectM (http://projectm.sourceforge.net/) support for amazing visualizations
  * A spotify / deezer / jamendo plugin to stream music
  * Useful: 10-band equalizer
 * Plugins
  * A plugin system has been introduced to extend possibilites of the player
  * A mini-mode which is a tribute to the good ol' Winamp shade mode
  * Get missing covers by looking at MusicBrainz' repository
 .
 * This software was developped using Qt5, QtAV and Taglib
 * Official website: http://www.miam-player.org/
 * Git: https://github.com/MBach/Miam-Player
 * Project page: https://sourceforge.net/projects/miammusicplayer/
