<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Miam-Player</Name>
	<RunProgram>@TargetDir@/MiamPlayer.exe</RunProgram>
    <Version>0.8.0</Version>
    <Title>Miam-Player</Title>
	<InstallerApplicationIcon>../../src/Core/mp</InstallerApplicationIcon>
	<InstallerWindowIcon>installerWindowIcon.png</InstallerWindowIcon>
    <Publisher>Matthieu Bachelier</Publisher>
    <StartMenuDir>Miam-Player</StartMenuDir>
	<ControlScript>controller.js</ControlScript>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<ProductUrl>http://miam-player.org/</ProductUrl>
	<TargetDir>@ApplicationsDir@\MiamPlayer</TargetDir>
	<AdminTargetDir>@ApplicationsDir@\MiamPlayer</AdminTargetDir>
	<RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
	<WizardDefaultWidth>800</WizardDefaultWidth>
	<WizardDefaultHeight>600</WizardDefaultHeight>
	<MaintenanceToolName>Uninstall Miam-Player</MaintenanceToolName>
	<MaintenanceToolIniFile>Uninstall Miam-Player.ini</MaintenanceToolIniFile>
	<Translations>
		<Translation>fr_fr.qm</Translation>
	</Translations>
</Installer>